<%- include('includes/head', {pageTitle: 'something went wrong'}) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>404 page not found</h1>
        <a class="btn" href="/">go back</a>
    </main>
<%- include('includes/footer') %>