#products-grid {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.5rem;

}
.product-item {
  height: 20rem;
  border-radius: 40px 6px 0 0;
  text-align: center;
  background-color: var(--color-white);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.product-item img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.product-item-content {
  padding: 1rem;
}
.product-item-content h2 {
  margin: 0.5rem;
  font-size: 1.15rem;
}
.product-item-price {
  margin: 0.25rem;
  font-style: italic;
  color: var(--color-grey);
}
.product-item-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
